.how-we-work {
  background-color: #fdf0e9;
  &__wrapper {
    display: flex;
    gap: 130px;
    padding-bottom: 108px;
    border-bottom: 1px solid #f3d1bf;
  }
  &__title {
    font-family: Epilogue;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    margin-top: 17px;
    margin-bottom: 31px;
  }
  &__description {
    font-family: Epilogue;
    line-height: 32px;
    color: #391400a3;
    margin-bottom: 28px;
  }
  &__link {
    color: #391400;
    font-family: Epilogue;
  }
  &__offer {
    font-family: Epilogue;
    font-size: 24px;
    font-weight: 700;
    color: #391400;
  }
  &__offers {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 43px;
  }
}
.offer-responsive-part {
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  color: #391400;
}
.offer-responsive-part-1 {
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  color: #391400;
}
.first-offer {
  &::before {
    content: "1";
    font-family: Epilogue;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-right: 66px;
    display: inline-block;
    transform: translateY(15px);
  }
}
.second-offer {
  &::before {
    content: "2";
    font-family: Epilogue;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-right: 66px;
    display: inline-block;
    transform: translateY(15px);
  }
}
.third-offer {
  &::before {
    content: "3";
    font-family: Epilogue;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-right: 66px;
    display: inline-block;
    transform: translateY(15px);
  }
}

@include mobile() {
  .how-we-work {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 72px;
    }
  }
  .offer-responsive-part {
    margin-left: 110px;
    font-family: Epilogue;
    font-size: 24px;
    font-weight: 700;
    color: #391400;
  }
  .offer-responsive-part-1 {
    margin-left: 100px;
    font-family: Epilogue;
    font-size: 24px;
    font-weight: 700;
    color: #391400;
  }
  .first-offer {
    &::before {
      transform: translateY(33px);
    }
  }
  .second-offer {
    &::before {
      transform: translateY(33px);
    }
  }
  .third-offer {
    &::before {
      transform: translateY(33px);
    }
  }
}
